 .u-section-1 {
  background-image: url("images/c69df9b6bbb366f6f6209e5999094a3afb701451c5993338b1a9e34ef4c403a09c0478967c4a5d8f6549e349b0029579baec85b8b5ff6da6443d28_1280.jpg");
  background-position: 100% 49.03%;
  background-size: 120%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2718px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto 0 253px;
}

.u-section-1 .u-text-2 {
  margin: 40px 605px 0 246px;
}

.u-section-1 .u-group-1 {
  width: 294px;
  min-height: 406px;
  margin: 1755px auto 0 59px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px 0;
}

.u-section-1 .u-text-3 {
  margin: 5px 49px 0 18px;
}

.u-section-1 .u-icon-1 {
  width: 44px;
  height: 44px;
  margin: -36px auto 0 228px;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 328px;
  margin: -3px 64px 0 18px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-group-2 {
  width: 294px;
  min-height: 440px;
  margin: -369px 230px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 10px 0;
}

.u-section-1 .u-text-4 {
  margin: 28px 23px 0 0;
}

.u-section-1 .u-form-2 {
  height: 328px;
  margin: 18px 64px 0 18px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-icon-2 {
  width: 44px;
  height: 44px;
  margin: -388px 219px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2241px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 505px;
    margin-left: 146px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 63px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1717px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 194px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 395px;
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1288px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 146px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 251px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 51px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 46px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 46px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 103px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 821px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 573px;
  margin: 90px auto 60px 139px;
}

.u-section-2 .u-container-layout-1 {
  padding: 28px 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 89px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 121px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: -2px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 461px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin: 60px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 823px;
}