<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
 <div class="container">
    <div class ="header">
   <h1>Stock Predictions Made With Python </h1>
        <div class="ascii-art">





            /^\/^\
         _|__|  O|
\/     /~     \_/ \
 \____|__________/  \
        \_______      \
                `\     \                 \
                  |     |                  \
                 /      /                    \
                /     /                       \\
              /      /                         \ \
             /     /                            \  \
           /     /             _----_            \   \
          /     /           _-~      ~-_         |   |
         (      (        _-~    _--_    ~-_     _/   |
          \      ~-____-~    _-~    ~-_    ~-_-~    /
            ~-_           _-~          ~-_       _-~
               ~--______-~                ~-___-~
</div>
    <form class="searchBar" action="{{ url_for('ticker') }}" method="post" >

          <select name="search" class="options">
            <option value="FB">Facebook</option>
            <option value="NFLX">Netflix</option>
            <option value="AMZN">Amazon</option>
            <option value="TSLA">Tesla</option>
            <option value="AAPL">Apple</option>
            <option value="INTC">Intel</option>
            <option value="IBM">IBM</option>
            <option value="NVDA">Nvidia </option>
            <option value="KO">Coca-Cola</option>
            <option value="GOOG">Google</option>
            <option value="DELL">Dell</option>
            <option value="EBAY">eBay</option>
            <option value="DIS">Walt Disney</option>
            <option value="MCD">McDonald</option>
            <option value="LYG">Lloyds Bank</option>
            <option value="RAZFF">Razer </option>
            <option value="PZZA">Papa John's</option>
            <option value="JD">JD Sports</option>
            <option value="TSCO">Tesco</option>
            <option value="DPZ">Domino's </option>
            <option value="NOK">Nokia</option>
                </select>
           <button type="submit"><i class="fa fa-search"></i>Submit</button>


    </form>
    </div>

        <div class="dataTitle" >
            <div class="topTitle">
            <h1>Data From {{ticker}} Containing {{ dataCollection.shape[0]  | safe}} Rows and {{ dataCollection.shape[1]  | safe}} Columns</h1>
            </div>

        <div class="dataDiv">
            <h2>Head</h2>
            {{ dataCollection.head(5).to_html()  | safe}}
            <h2>Describe</h2>
            {{ dataCollection.describe().to_html()  | safe}}
        </div>
        <div class="dataDiv">
            <h2>Tail</h2>
            {{ dataCollection.tail(5).to_html()  | safe}}
            <h2>Correlation</h2>
      {{ dataCollection.corr(method='pearson').to_html()  | safe}}</div>

  </div>
  <div class="plotDiv1" >
        <div class="topTitle">
            <h1>Data Visualization</h1>
            </div>
     <div class="smallTitle">
         <h2>Box Plots</h2>
         <img src="{{ url_for('static',filename='plots/boxplot.png')}}" alt="boxplot">


         <h2>Density Plots</h2>
         <img src="{{ url_for('static',filename='plots/densityplot.png')}}" alt="densityplot">
     </div>

  </div>

  <div class="PreDiv" >
        <div class="topTitle">
            <h1>Prediction with Linear Regression Model</h1>
        </div>
        <div class="dataDiv1">
            <div class="nextDay">
                <h2>Next Day Prediction</h2>
                <h2>Date:{{ weekDate[4] }}/2022 </h2>
                </div>
            <div class="split1">
                </div>
            <div class="split">

               <h3>Real Data</h3>
                 <h4> Open: {{ ystrClose[4][0] }}</h4>
                 <h4> High: {{ ystrClose[4][1] }}</h4>
                 <h4> Low: {{ ystrClose[4][2] }}</h4>
                 <h4> Close: {{ ystrClose[4][3] }}</h4>
            </div>
            <div class="split">
               <h3>Prediction</h3>
                 <h4> Open: {{ lrModel[5][0][0] }}</h4>
                 <h4> High: {{ lrModel[5][0][1] }}</h4>
                 <h4> Low: {{ lrModel[5][0][2] }}</h4>
                 <h4> Close: {{ lrModel[5][0][3] }}</h4>
            </div>




        </div>


            <div class="dataDiv1">
                    <div class="nextDay">
                <h2>Next Week Prediction</h2>
                  <h2>{{ weekDate[0] }}/22-{{ weekDate[4] }}/22 </h2>
                </div>

                <div class="split1">

                 <h3 id="hiddenSnake">Sssnake</h3>
                 <h3> {{ weekDate[0] }}: </h3>
                 <h3> {{ weekDate[1] }}: </h3>
                 <h3> {{ weekDate[2] }}: </h3>
                 <h3> {{ weekDate[3] }}: </h3>
                 <h3> {{ weekDate[4] }}: </h3>
            </div>

            <div class="split">

               <h3>Close</h3>
                 <h4> {{ ystrClose[0][4] }}</h4>
                 <h4> {{ ystrClose[1][4] }}</h4>
                 <h4> {{ ystrClose[2][4] }}</h4>
                 <h4> {{ ystrClose[3][4] }}</h4>
                 <h4> {{ ystrClose[4][4] }}</h4>
            </div>
            <div class="split">
               <h3>Prediction </h3>
                 <h4> {{ lrModel[6][0][0] }}</h4>
                 <h4> {{ lrModel[6][1][0] }}</h4>
                 <h4> {{ lrModel[6][2][0] }}</h4>
                 <h4> {{ lrModel[6][3][0] }}</h4>
                 <h4> {{ lrModel[6][4][0] }}</h4>
            </div>
            </div>

           <div class="dataDiv1">
                 <div class="nextDay">
                <h2>Evaluation Of Model</h2>

                </div>
            <h3>Model Efficiency</h3>
            <h4>Slope:{{ lrModel[0] | safe }}</h4>
            <h4>Intercept: {{ lrModel[1] | safe  }}</h4>
            <h4>Mean absolute error: {{ lrModel[2] | safe  }}</h4>
            <h4>Root mean squared error:{{ lrModel[3] | safe  }}</h4>
           </div>
 </div>
    <div class="plotDiv" >
        <div class="topTitle">
           <h1>Prediction Plot Visualization</h1>
        </div>
        <div class="smallTitle">
            <h2>Prediction based on whole stock </h2>
            <img src="{{ url_for('static',filename='plots/Linearplot.png')}}" alt="Linearplot">

               <h2>Week Prediction Plot With Orginal Closes Values</h2>
            <img src="{{ url_for('static',filename='plots/Linearweekv2.png')}}" alt="LSTM week plot">

               <h2>Week Prediction Plot With Continual learning</h2>
            <img src="{{ url_for('static',filename='plots/Linearweek.png')}}" alt="Linear week plot">
         </div>

  </div>
<div class="PreDiv" >
        <div class="topTitle">
            <h1>Prediction with LSTM Model</h1>
        </div>
        <div class="dataDiv1">
            <div class="nextDay">
                <h2>Next Day Prediction</h2>
                <h2>Date:{{ weekDate[4] }}/2022 </h2>
                </div>
            <div class="split1">
                </div>
            <div class="split">

               <h3>Real Data</h3>
                 <h4> Open: {{ ystrClose[4][0] }}</h4>
                 <h4> High: {{ ystrClose[4][1] }}</h4>
                 <h4> Low: {{ ystrClose[4][2] }}</h4>
                 <h4> Close: {{ ystrClose[4][3] }}</h4>
            </div>
            <div class="split">
               <h3>Prediction</h3>
                 <h4> No Prediction</h4>
                 <h4> No Prediction</h4>
                 <h4> No Prediction</h4>
                 <h4> Close: {{ lstModel[1][0][0]}} </h4>
            </div>




        </div>


            <div class="dataDiv1">
                    <div class="nextDay">
                <h2>Next Week Prediction</h2>
                  <h2>{{ weekDate[0] }}/22-{{ weekDate[4] }}/22 </h2>
                </div>

                <div class="split1">

                 <h3 id="hiddenSnake">Sssnake2</h3>
                 <h3> {{ weekDate[0] }}: </h3>
                 <h3> {{ weekDate[1] }}: </h3>
                 <h3> {{ weekDate[2] }}: </h3>
                 <h3> {{ weekDate[3] }}: </h3>
                 <h3> {{ weekDate[4] }}: </h3>
            </div>

            <div class="split">

               <h3>Close</h3>
                 <h4> {{ ystrClose[0][4] }}</h4>
                 <h4> {{ ystrClose[1][4] }}</h4>
                 <h4> {{ ystrClose[2][4] }}</h4>
                 <h4> {{ ystrClose[3][4] }}</h4>
                 <h4> {{ ystrClose[4][4] }}</h4>
            </div>
            <div class="split">
               <h3>Prediction</h3>
                 <h4> {{ lstModel[1][0][0] }}</h4>
                 <h4> {{ lstModel[1][1][0] }}</h4>
                 <h4> {{ lstModel[1][2][0] }}</h4>
                 <h4> {{ lstModel[1][3][0] }}</h4>
                 <h4> {{ lstModel[1][4][0] }}</h4>
            </div>
            </div>
             <div class="dataDiv1">
                 <div class="nextDay">
                <h2>Evaluation Of Model</h2>

                </div>
            <h3>Model Efficiency</h3>
            <h4>Root mean squared error:{{ lstModel[2] }}</h4>




    </div>
        <div class="plotDiv" >
        <div class="topTitle">
           <h1>LSTM Prediction Plot Visualization</h1>
        </div>
        <div class="smallTitle">
            <h2>Prediction based on whole stock </h2>
            <img src="{{ url_for('static',filename='plots/LSTMplot.png')}}" alt="LSTM plot">

           <h2>Week Prediction Plot With Orginal Closes Values</h2>
            <img src="{{ url_for('static',filename='plots/LSTMweekv2.png')}}" alt="LSTM week plot">

                   <h2>Week Prediction Plot With Continual learning</h2>
            <img src="{{ url_for('static',filename='plots/LSTMweek.png')}}" alt="LSTM week plot">


         </div>


  </div>
     <div class="PreDiv" >
        <div class="topTitle">
            <h1>Conclusion</h1>
        </div>
        <div class="dataDiv1">
            <div class="nextDay">
                <h2>Next Day Prediction</h2>
                <h2>Date:{{ weekDate[4] }}/2022 </h2>
                </div>

            <div class="split">

               <h3>Real Data</h3>
                 <h4> Close: {{ ystrClose[4][3] }}</h4>
                 <h4>Difference:</h4>
            </div>
            <div class="split">
               <h3>Linear</h3>
                 <h4> {{  lrModel[5][0][3]  }}</h4>
                 <h4>  {{ (ystrClose[4][3] - lrModel[5][0][3] ) |round(2)  }} </h4>
            </div>
             <div class="split">
               <h3>LSTM</h3>
                 <h4> {{ lstModel[1][0][0]}} </h4>
                 <h4> {{ (ystrClose[4][3] - lstModel[1][0][0]  ) |round(2)  }}  </h4>
            </div>




        </div>


            <div class="dataDiv3">
                    <div class="nextDay">
                <h2>Next Week Prediction</h2>
                  <h2>{{ weekDate[0] }}/22-{{ weekDate[4] }}/22 </h2>
                </div>

                <div class="split1">

                 <h3 id="hiddenSnake">Sssnake2</h3>
                 <h3> {{ weekDate[0] }}: </h3>
                 <h3> {{ weekDate[1] }}: </h3>
                 <h3> {{ weekDate[2] }}: </h3>
                 <h3> {{ weekDate[3] }}: </h3>
                 <h3> {{ weekDate[4] }}: </h3>
            </div>

            <div class="split3">

               <h3>Close</h3>
                 <h4> {{ ystrClose[0][4] }}</h4>
                 <h4> {{ ystrClose[1][4] }}</h4>
                 <h4> {{ ystrClose[2][4] }}</h4>
                 <h4> {{ ystrClose[3][4] }}</h4>
                 <h4> {{ ystrClose[4][4] }}</h4>
            </div>
            <div class="split3">
               <h3>Linear</h3>
                 <h4> {{ lrModel[6][0][0]  }}</h4>
                 <h4> {{ lrModel[6][1][0]  }}</h4>
                 <h4> {{ lrModel[6][2][0]  }}</h4>
                 <h4> {{ lrModel[6][3][0]  }}</h4>
                 <h4> {{ lrModel[6][4][0]  }}</h4>
            </div>
                     <div class="split3">
               <h3>Difference</h3>
                 <h4> {{ (ystrClose[0][4] - lrModel[6][0][0] ) |round(2)  }}</h4>
                 <h4> {{ (ystrClose[1][4] - lrModel[6][1][0] ) |round(2)  }}</h4>
                 <h4> {{ (ystrClose[2][4] - lrModel[6][2][0] ) |round(2)  }}</h4>
                 <h4> {{ (ystrClose[3][4] - lrModel[6][3][0] ) |round(2)  }}</h4>
                 <h4> {{ (ystrClose[4][4] - lrModel[6][4][0] ) |round(2)  }}</h4>

            </div>
                <div class="split3">
               <h3>LSTM</h3>
                 <h4> {{ lstModel[1][0][0] }}</h4>
                 <h4> {{ lstModel[1][1][0] }}</h4>
                 <h4> {{ lstModel[1][2][0] }}</h4>
                 <h4> {{ lstModel[1][3][0] }}</h4>
                 <h4> {{ lstModel[1][4][0] }}</h4>
            </div>
                     <div class="split3">
               <h3>Difference</h3>
                 <h4> {{ (ystrClose[0][4] - lstModel[1][0][0] ) |round(2)  }}</h4>
                 <h4> {{ (ystrClose[1][4] - lstModel[1][1][0] ) |round(2)  }}</h4>
                 <h4> {{ (ystrClose[2][4] - lstModel[1][2][0] ) |round(2)  }}</h4>
                 <h4> {{ (ystrClose[3][4] - lstModel[1][3][0] ) |round(2)  }}</h4>
                 <h4> {{ (ystrClose[4][4] - lstModel[1][4][0] ) |round(2)  }}</h4>



            </div>
            </div>






    </div>
 </div>


</body>
</html>